mixin custom-input(options = {})
  - const inputLabel = options.inputLabel ? options.inputLabel : ''
  - const inputPlaceholder = options.inputPlaceholder ? options.inputPlaceholder : false
  - const inputError = options.inputError ? options.inputError : false
  - const inputType = options.inputType ? options.inputType : "text"
  - const inputId = options.inputId ? options.inputId : false
  - const iconSearch = options.iconSearch ? options.iconSearch : false
  - const inputName = options.inputName ? options.inputName : false
  - const inputValue = options.inputValue ? options.inputValue : false
  - const inputMinLength = options.inputMinLength ? options.inputMinLength : false
  - const inputMaxLength = options.inputMaxLength ? options.inputMaxLength : false

  .custom-input&attributes(attributes)
    label(for=inputId)
      if iconSearch
        input(type=inputType, id=inputId, name=inputName, value=inputValue, minlength=inputMinLength, maxlength=inputMaxLength, placeholder=inputPlaceholder)
        +icon('icon-search', 16,16).custom-input__icon
      else 
        span.custom-input__label!=inputLabel
        input(type=inputType, id=inputId, name=inputName, value=inputValue, minlength=inputMinLength, maxlength=inputMaxLength, placeholder=inputPlaceholder)
      
      if inputError
        .custom-input__error!=inputError

